<!doctype html>
<html>
    <head>
        <title>{% block title %}Default title{% endblock %}</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <meta charset='utf-8' />
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    </head>
    <body>
        <div class="header">
            <h1>Where is the fox?</h1>
        </div>
        {% block content %}Default content{% endblock %}
    </body>
</html>
