body {
    margin: 0;
    background: #fff;
    color: #444444;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    max-width: 100%;
    padding: 0;
}
a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}
a:hover {
    border-bottom: 0;
}
h1, h2 {
    line-height: 1.3;
}
ul li {
    padding-bottom: 5px;
}
.header {
    background-color: #F0F3F5;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 95%;
    padding: 3em;
}
#map {
    height: 600px;
}
.map-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.map-overlay fieldset {
    border: none;
    padding: 1em;
    margin: 0;
}
.map-overlay input {
    display: block;
    border: none;
    background-color: #F0F3F5;
    color: black;
    margin: 0;
    padding: 1em;
}
