<div class='map-overlay'>
    <fieldset>
        <input id='feature-filter' type='text' placeholder='Filter results by name' />
    </fieldset>
    <div id='feature-listing' class='listing'></div>
</div>

<div id='map'></div>
