{% extends 'base.html.twig' %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Where is the fox?</h1>

        <div class="map-container">
            {% include "parts/map.html.twig" %}
        </div>
    </div>
    <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js"></script>
    <script type="text/javascript">
        mapboxgl.accessToken = "{{ mapbox_token }}";
        var datapoints = {{ datapoints|raw }};
    </script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
{% endblock %}
